a{
  color: #999;
}

/* header */
header{
  display: flex;
  align-items: center;
  padding: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  border-bottom: solid 3px rgb(50, 98, 255);
}

.header_button{
  display: none;
}

/* nav */
nav{
  text-align: center;
}
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 5px;
}
nav ul ul{
  display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li{
  position: relative;
}

/*ナビゲーションのリンク設定*/
/* nav ul li li a{
  padding:10px 35px;
} */

nav ul li a:hover{
  color:#8eb4f2; 
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
nav ul li.has_child::before{
  content:'';
  position: absolute;
  left:-14px;
  top:7px;
  width:6px;
  height:6px;
  border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
}

/*3階層目を持つliの矢印の設定*/
nav ul ul li.has_child::before{
  content:'';
  position: absolute;
  left:6px;
  top:5px;
  width:6px;
  height:6px;
    border-top: 2px solid #fff;
    border-right:2px solid #fff;
    transform: rotate(45deg);
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
nav li.has_child ul{
    /*絶対配置で位置を指定*/
  position: absolute;
  left:0;
  top:48px;
  z-index: 4;
    /*形状を指定*/
  background:#919191;
  width:150px;
    /*はじめは非表示*/
  visibility: hidden;
  opacity: 0;
    /*アニメーション設定*/
  transition: all .3s;
  padding-top: 2px;
    padding-bottom: 2px;
}

ul.pull_down_list {
  padding-left: 0;
}
li.pull_down_item{
  color: #fff;
}

/*hoverしたら表示*/
nav li.has_child:hover > ul,
nav li.has_child ul li:hover > ul,
nav li.has_child:active > ul,
nav li.has_child ul li:active > ul{
  visibility: visible;
  opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has_child ul li a{
  color: #fff;
  font-size: 15px;
}

nav li.has_child ul li a:hover,
nav li.has_child ul li a:active{
  font-size: 18px;
}


/*==3階層目*/

/*3階層目の位置*/
nav li.has_child ul ul{
  top:0;
  left:150px;
  background:#a0a0a0;
}

ul.pull_down_child_list{
  padding-left: 0;
}

nav li.has_child ul ul li a:hover,
nav li.has_child ul ul li a:active{
  font-size: 18px;
}

/*矢印の位置と向き*/
nav ul ul li.has_child::before{
  transform: rotate(135deg);
  left:20px;
}
    
nav ul li.has_child.active::before{
  transform: rotate(-45deg);
}


/*==768px以下の形状*/

@media screen and (max-width:768px){
  .header_button{
    display: block;
    margin-left: auto;
    height: 40px;
    position: fixed;
    right: 19px;
    top: 8px;
    width: 40px;
    z-index: 1000;
  }
  .header_button::before, .header_button::after {
    background-color: #333;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transition: transform 0.4s, top 0.4s;
    width: 34px;
  }
  .header_button::before {
    top: 12px;
    transform: translate(-50%, 0);
  }
  .header_button::after {
    top: 27px;
    transform: translate(-50%, 0);
  }
  header.is-open .header_button::before {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  header.is-open .header_button::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  nav{
    padding: 0;
    display: none;
  }
  
  header.is-open nav{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 110px;
    padding-top: 140px;
    padding-bottom: 500px;
    background-color: #fff;
    text-align: center;
    z-index: 99;
  }

  nav ul{
    display: block;
  }
  
  nav li.has_child ul,
  nav li.has_child ul ul{
    position: relative;
    left:0;
    top:0;
    width:100%;
    visibility:visible;/*JSで制御するため一旦表示*/
    opacity:1;/*JSで制御するため一旦表示*/
    display: none;/*JSのslidetoggleで表示させるため非表示に*/
    transition:none;/*JSで制御するためCSSのアニメーションを切る*/
  }

  nav ul li.has_child::before{
    top: 8px;
    left:40px;  
  }
}

/* body */
body {
  font-family: "Noto Sans JP", sans-serif;
}

/* footer */